*{
  margin: 0px;
  padding: 0px;
}
body{
  margin: 0px;
}

main{
  margin: 8%;
}

a{
  text-decoration: none;
}

h1, h2, h3, h4, h5, p{
  padding: 12px;
  padding-bottom: 6px;
  color: #303030;
}

h1, h2, h3, h4, h5{
  margin-top: 16px;
}

h1{
  border-bottom: solid 1px #46B9FF;
  border-left: solid 3px #46B9FF;
}

h2{
  border-bottom: solid 1px #46B9FF;
}

h3{
  color: #46B9FF;
}

h4{
  margin: 0px 16px 0px 16px;
}

h5{
  margin: 0px 24px 0px 24px;
}

p, img{
  margin: 0px 32px 0px 32px;
}

img{
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 20%);
}
