*{
  margin: 0px;
  padding: 0px;
}
body{
  margin: 0px;
}

main{
  margin: 48px;
}

a{
  text-decoration: none;
}

h1, h2, h3, h4, h5, p{
  padding: 3px;
  color: #303030;
}

h1{
  padding-left: 6px;
  border-bottom: solid 1px #46B9FF;
  border-left: solid 3px #46B9FF;
}

h2{
  color: #46B9FF;
}

h3{
  border-bottom: solid 1px #46B9FF;
}
